.navbar{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 0 20px;
    color: #fff;
    position: sticky;
    top: 0;
    background-color: var(--color-fondo);
    z-index: 999;
    padding-top: 20px;
}
.navbar__logo{
    background-image: url(../../public/imgs/Logo.png);
    background-size: cover;
    background-position: center;
    height: 60px;
    width: 160px;
}
.navbar__list{
    list-style: none;
    display: flex;
    gap: 50px;
}
.navbar__item--link{
    color: #fff;
    text-decoration: none;
}
.navbar__item:hover{
    text-decoration: underline;
    cursor: pointer;
}
.navbar__usuario{
    display: grid;
    grid-template-areas: 
    "name photo"
    "role photo";
    place-items: center;
}
.navbar__usuario-name{
    grid-area: name;
    font-weight: 800;
}
.navbar__usuario-role{
    grid-area: role;
    color: var(--color-texto);
}
.navbar__usuario-photo{
    grid-area: photo;
    background-image: url(../../public/imgs/Profesor.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-left: 30px;
}
    
@media screen and (max-width: 770px){
    .navbar__list{
        display: none;
    }
}
@media screen and (max-width: 600px){
    .navbar__logo{
        height:50px ;
    }
}
@media screen and (max-width: 420px){
    .navbar__usuario-photo{
        height: 50px;
        width: 50px;
    }
    .navbar__usuario-name{
        font-size: .8rem;
    }
    .navbar__usuario-role{
        font-size: .6rem;
    }
}