*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --color-fondo: #331a6c;
  --color-texto: #9798e0;
  --color-finGradient: #3e2080;
  --size-iconButon: 25px
}

html{
  overflow-x: hidden;
}